// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// toastr
@import '~toastr/build/toastr.css';


.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.button1{
    font-size:95%;
    background-color: #FF600D;
    color:white;
}
.button1:hover{
    color:#FF600D;
    background-color: transparent;
    border: 1px solid #FF600D;

}
.button2{
    
    background-color: #0095B3;
    color:white;
}
.button2:hover{
    color:#0099CC;
    background-color: transparent;
    border: 1px solid #0099CC;

}
.login{
    font-size:95%;
    background-color: #FF600D;
    color:white;
}
.login:hover{
    color:#0099CC;
    background-color: #b32602;
    border: 1px solid #0099CC;
}
.inputVerificar:focus{
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.inputVerificarError:focus{
    border-color: #8f1010;
    box-shadow: 0 0 0 0.2rem rgba(218, 6, 6, 0.25);
}